---
import './landing.css'
---
<main class="landing_main" >
	<header class="landing_header" >
		<div class="heading" >
			<h1>TRADICION Y SABOR</h1>
			<img class="arrow" src="/icons/Arrow.svg" alt="icóno flecha">
			<img class="image_mini_circle" src="/images/tradicion-y-sabor-mates-en-Quilmes.webp" alt="venta de Yerba Mate en Quilmes">
			<img class="image_mini_circle" src="/images/tradicion-y-sabor-cafe-en-Quilmes.webp" alt="venta de cafe en Quilmes">
		</div>
		<span class="separator" />
		<div class="sub_heading" >
			<h2>
				<span class="sub_heading_rituals" >RITUALES</span>
				<div class="box_sub_heading" >
					QUE PERDURAN EN EL TIEMPO
					<div class="box_images_sub_heading" >
						<div>
							<img class="image_rectangular" src="images/mermeladas-artesanales-en-Quilmes.webp" alt="mermeladas artesanales en Quilmes">
						</div>
						<div>
							<img class="image_circle" src="images/todo-para-el-mate-en-Quilmes.webp" alt="todo para el mate en Quilmes">
						</div>
						<div>
							<img class="image_mini_circle" src="images/compra-online-en-Quilmes.webp" alt="compra online en Quilmes">			
						</div>
					</div>
				</div>
			</h2>
		</div>
	</header>
</main>