---
---
<main>
	<header>
		<div class="heading" >
			<h1>TRADICION Y SABOR</h1>
			<img class="arrow" src="/icons/Arrow.svg" alt="icóno flecha">
			<img class="image_mini_circle" src="/images/tradicion-y-sabor-mates-en-Quilmes.webp" alt="venta de Yerba Mate en Quilmes">
			<img class="image_mini_circle" src="/images/tradicion-y-sabor-cafe-en-Quilmes.webp" alt="venta de cafe en Quilmes">
		</div>
		<span class="separator" />
		<div class="sub_heading" >
			<h2>
				<span class="sub_heading_rituals" >RITUALES</span>
				<div class="box_sub_heading" >
					QUE PERDURAN EN EL TIEMPO
					<div class="box_images_sub_heading" >
						<div>
							<img class="image_rectangular" src="images/mermeladas-artesanales-en-Quilmes.webp" alt="mermeladas artesanales en Quilmes">
						</div>
						<div>
							<img class="image_circle" src="images/todo-para-el-mate-en-Quilmes.webp" alt="todo para el mate en Quilmes">
						</div>
						<div>
							<img class="image_mini_circle" src="images/compra-online-en-Quilmes.webp" alt="compra online en Quilmes">			
						</div>
					</div>
				</div>
			</h2>
		</div>
	</header>
</main>

<style>
	main{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		width: 1200px;
		padding: 20px;
	}
	header{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: left;
		border-radius: 10px;
	}
	.heading{
		display: flex;
		justify-content: left;
		align-items: center;
		width: 100%;
		gap: 10px;
		margin-right: 40px;
	}
	.arrow{
		color: var(--grey-color);
		stroke-width: 5px;
	}
	.image_circle{
		margin-top: 35px;
		width: 120px;
		border: solid 5px var(--ligth-green-color);
		border-radius: 50%;
	}
	.image_mini_circle{
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	.image_rectangular{
		width: 180px;
		height: 55px;
		object-fit: cover;
		border-radius: 80px;
	}
	.sub_heading{
		display: flex;
		align-items: center;
		justify-content: right;
		width: 100%;
		margin-top: 20px;
		h2{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			gap: 10px;
		}
	}
	.box_images_sub_heading{
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.separator{
		height: 2px;
		width: 100%;
		background-color: var(--ligth-green-color);
	}
	.sub_heading_rituals{
		border-radius: 50px;
		padding-inline: 15px;
		color: var(--white-color);
		background-color: var(--green-color);
	}
</style>