---
---

<nav>
    <img src="images/profile.png" alt="imagen de perfil">
</nav>

<style>
    nav{
        z-index: 10;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: right;
        top: 20px;
        right: 50%;
        width: 1150px;
        height: 50px;
        transform: translateX(50%);
    }
    img{
        width: 60px;
    }
    div{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
</style>