---
---

<nav>
    <div class="box_signin" >
        <a
            class="signin"
            href=""
        >
            REGISTRAR
        </a>
        <a href="">INGRESAR</a>
    </div>
    <div class="box_profile" >
        <a href="">PRODUCTOS</a>
        <a href="">CONTACTO</a>
        <a href="">ABOUT</a>
        <img
            src="images/profile.png"
            alt="imagen de perfil"
        >
    </div>
</nav>

<style>
    nav{
        z-index: 10;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 20px;
        right: 50%;
        width: 1150px;
        height: 50px;
        transform: translateX(50%);
    }
    .box_signin{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .signin{
        display: grid;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: var(--green-color);
    }
    .box_profile{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
    }
    img{
        width: 60px;
    }
</style>