---
import InstagramButton from "./buttons/InstagramButton.astro";
import MetaButton from "./buttons/MetaButton.astro";
import WhatsappButton from "./buttons/WhatsappButton.astro";

---

<section>
    <InstagramButton/>
    <MetaButton/>
    <WhatsappButton/>
    <p>SEGUINOS EN NUESTRAS REDES</p>
</section>

<style>
    section{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        top: 85%;
        left: 50%;
        width: 1150px;
        transform: translateX(-50%);
    }
    p{
        font-size: 10px;
    }
</style>