<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tradición y Sabor</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global >
	@font-face {
		font-family: 'Poppins-BoldItalic';
		src: url('../assets/Poppins-BoldItalic.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-Italic';
		src: url('../assets/Poppins-Italic.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-Regular';
		src: url('../assets/Poppins-Regular.ttf') format('truetype');
	}
	:root{
		--primary-color:#EEF8FF;
		--segundary-color:#3A3A3A;
		--green-color:#37717F;
		--grey-color:#CBDBDB;

		background-color: var(--primary-color);
		color: var(--segundary-color);
	}
	body{
		font-family:'Poppins-Regular', sans-serif ;
		width: 1920px;
		margin: 0;
	}
	h1{
		font-family:'Poppins-BoldItalic',sans-serif ;
		color: var(--primary-color);
		font-size: 5rem;
		line-height: 1;
		margin: 0;
	}
</style>
